@width: 100%;

.keyframes(@name; @arguments) {
  @-moz-keyframes @name {
    @arguments();
  }
  @-webkit-keyframes @name {
    @arguments();
  }
  @keyframes @name {
    @arguments();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

@path-fonts: "fonts";

@font-face {
  font-family: "Bangers";
  src: url("@{path-fonts}/Bangers-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  color: darkblue;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/orange-background.jpeg");
  background-repeat: repeat;
  background-size: cover;
  max-width: 100vw;
  max-height: 100vh;
  @media (min-width: 600px) {
    height: calc(100vh+ 10em);
  }
}

h2, h3 {
    color: white;
  }
  