.main-layout {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;

    @media (min-width: 992px) {
    flex-direction: row;
    }
}